<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body background="{% static 'img/bg.png' %}">
    <header>
        <ul class="main-menu">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/generative">Generate Music</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </header>
    <br><br>
    <main>
        <h1 class="heading">Mu-Gen</h1>
        <h2 class="sub-heading">The Sound of AI</h2>
    </main>
    <footer>

    </footer>
</body>
</html>